<div class="container mt-4">
  <h2 class="mb-4 text-center ">👥 Liste des utilisateurs</h2>

  <div class="text-center mb-3">
    <button class="btn btn-success btn-sm" (click)="ajouterUtilisateur()">
      ➕ Ajouter un utilisateur
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-light text-center">
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilisateur of utilisateurs">
          <td>{{ utilisateur.nom }}</td>
          <td>{{ utilisateur.email }}</td>
          <td class="text-center">
            <button
              class="btn btn-sm btn-secondary me-2"
              (click)="modifierUtilisateur(utilisateur.id!)"
            >
              Modifier
            </button>
            <button
              class="btn btn-sm btn-danger"
              (click)="supprimerUtilisateur(utilisateur.id!)"
            >
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>