body {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #f9f8fb;
  color: #4b4b4b;
  padding-top: 20px;
}


h2 {
  font-weight: 600;
  color: #9575cd;
}

h3 {
  font-weight: 600;
  color: #b39ddb;
}

h4 {
  font-weight: 600;
  color: #bcaaa4;
}

h4 span {
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ce93d8;
}


.list-group-item {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}
.list-group-item:hover {
  background-color: #f3e5f5;
}

.btn {
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 20px;
  color: white;
}

button.btn {
  width: auto !important;
  display: inline-block;
}

.btn-primary {
  background-color: #b39ddb;
  border-color: #9575cd;
}
.btn-primary:hover {
  background-color: #9575cd;
  border-color: #7e57c2;
}

.btn-secondary {
  background-color: #d7ccc8;
  border-color: #bcaaa4;
}
.btn-secondary:hover {
  background-color: #bcaaa4;
  border-color: #a1887f;
}
.btn-outline-secondary {
  color: #bcaaa4;
  border-color: #bcaaa4;
  background-color: transparent;
}

.btn-outline-secondary:hover {
  background-color: #bcaaa4;
  color: white;
  border-color: #a1887f;
}

.btn-danger {
  background-color: #f8bbd0;
  border-color: #f48fb1;
}
.btn-danger:hover {
  background-color: #f48fb1;
  border-color: #f06292;
}


form label {
  font-weight: 500;
  margin-bottom: 4px;
}

input.form-control,
select.form-select {
  border-radius: 6px;
  box-shadow: none;
  transition: border-color 0.2s;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
}

input:focus,
select:focus {
  border-color: #b39ddb;
  outline: none;
}

.form-control.is-invalid {
  border-color: #f48fb1;
}

.alert-info {
  background-color: #fce4ec;
  border: 1px solid #f8bbd0;
  color: #6a1b9a;
  border-radius: 6px;
}


hr {
  border-top: 2px solid #e1bee7;
}
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}

.navbar .nav-link {
  color: #6c6c6c;
}

.navbar .nav-link.active {
  font-weight: bold;
  color: #b39ddb !important;
  border-bottom: 2px solid #b39ddb;
}


.table {
  background-color: white;
  border-radius: 0.25rem;
}

.table th,
.table td {
  vertical-align: middle;
  color: #4b4b4b;
  border-bottom: 1px solid #f1f1f1;
}

thead {
  background-color: #f3e5f5;
}

th {
  font-weight: bold;
  color: #9575cd;
}


::placeholder {
  color: #b0bec5;
  font-style: italic;
}
.statut-a-faire {
  color: #b39ddb; 
}

.statut-en-cours {
  color: #f8bbd0; 
}

.statut-terminee {
  color: #bcaaa4; 
}
.projet-title {
  color: #9575cd;
  transition: color 0.3s ease;
}

.projet-title:hover {
  color: #7e57c2; 
}
